.contents h2{
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

.contents h3{
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contents h4{
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contents p{
  line-height: 2rem;
}

.contents iframe{
  width: 100% !important;
  height: 400px !important;
}

.contents code{
  padding: 2rem;
  margin-bottom: 20px;
  border-radius: 6px;
}